@media print {
   	.center {  text-align: center;    }
}
@media print { 
	.mt-3 {  margin-top: -0.3em;    }
}
@media print { 
	.mt-2 {  margin-top: -0.2em;    }
}
@media print {
	div.solid { 	border: solid;	}
}
@media print {
	.print {display:block}
	 .btn-print {display:none;}
 }
@media print {
 	 ol.c { list-style-type: decimal; 	font-size:14px;}
 }

