@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
.removeButton{
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  position:relatif;
  right:0;
  top:0;
}

.required:after {
        content: '*';
        color: red;
        padding-left: 5px;
}
.mt-2 {
         margin-top: -2px !important;
}
.mt-10{
        margin-top:-10px;
}
.ml-2{
        margin-left: +0.5%;
}
.mt-3 {
        margin-top: +6px !important;
}
.ml-80{
       margin-left: +80%;
}
.foo{
      position: absolute;
      top: 87%;
      right: 22%;
}

/*.modaldialog {
  width:97%;
  height:90% !important;
  overflow-y: auto;
}*/
/*.contmodal {
  height:780px; 
}*/
.modaldialog {
  width:97%;
  height:90% !important;
  overflow-y: initial !important
}
.contmodal {
  /*height:800px; */
  height:101%; 

}
.bodyodal{
  /*max-height: calc(100vh - 100px);*/
  /*width:100%;*/
  height: 100%;
  overflow-y: auto;
}
